* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.gallery {
  list-style: none;
  width: 1128px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 auto;
}
.gallery img {
  display: block;
  width: calc((100% - 48) / 3);
  height: 200px;
  transition: transform 0.3s ease-in;
}
.gallery img:hover {
    transform: scale(1.05);
  }